{{>header}}
{{> navbar }}

<div class="row">
    <div class="col-8">
        <h1>Mira que león!</h1>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto, iusto! Laboriosam facere quos error asperiores ullam sequi ipsam, aspernatur atque necessitatibus tenetur obcaecati assumenda blanditiis saepe fugit iste nostrum quam?</p>
    </div>

    <div class="col-4">
        <img src="assets/img/lion.jpg" class="img-thumbnail">
    </div>
</div>


{{> footer}}